$website-width: 1440px;

$light-color: #f2f2f2;
$medium-color: #b9b9b9;
$dark-color: #333;
$primary-color: #48a2df;

$header-img: url("../images/deszcz.jpg");
$about-img: url("../images/dach-about.jpg");

// #48a2df
// #3498dc
// #2980BB
