.header {
  background: $header-img no-repeat center bottom / cover;
  background-attachment: fixed;
  height: 100vh;

  &__content {
    text-align: center;
    position: relative;
    top: 27%;

    h1 {
      color: $light-color;
      font-size: 70px;
    }

    p {
      padding: 30px;
      color: $light-color;
      font-size: 32px;
    }
  }
}

@media (max-width: 760px) {
  .header__content {
    top: 21%;
  }
}

@media (max-width: 576px) {
  .header {
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 460px) {
  .header {
    &__content {
      top: 19%;

      &__title {
        display: none;
      }
    }
  }
}
