.offer {
  color: $dark-color;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    202deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(26, 26, 40, 1) 19%,
    rgba(71, 71, 80, 1) 100%
  );
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  &__content {
    padding-bottom: 100px;
  }
}
